In [1]:
# Dependencies
import requests
import json
import pandas as pd
import time
import pprint
import datetime as dt
from datetime import datetime

In [2]:
bitcoin_comment_times = pd.read_csv('output/comments_bitcoin.csv', index_col = 0)
ethereum_comment_times = pd.read_csv('output/comments_ethereum.csv', index_col= 0)
cardano_comment_times = pd.read_csv('output/comments_cardano.csv', index_col= 0)
dogecoin_comment_times = pd.read_csv('output/comments_dogecoin.csv', index_col= 0)
nasdaq_comment_times = pd.read_csv('output/comments_nasdaq.csv', index_col= 0)
dow_comment_times = pd.read_csv('output/comments_dow.csv', index_col= 0)

C:\Users\12164\anaconda3\envs\PythonData\lib\site-packages\numpy\lib\arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [3]:
bitcoin_comment_times['Exchange']= 'Bitcoin'
ethereum_comment_times['Exchange']= 'Ethereum'
cardano_comment_times['Exchange']= 'Cardano'
dogecoin_comment_times['Exchange']= 'Dogecoin'
nasdaq_comment_times['Exchange']= 'NASDAQ'
dow_comment_times['Exchange']= 'Dow Jones'

bitcoin_comment_times.head()

    Timestamp SubReddit Exchange
0  1527825606  ethereum  Bitcoin
1  1527825642       btc  Bitcoin
2  1527825648       btc  Bitcoin
3  1527825725       btc  Bitcoin
4  1527825939  Sexsells  Bitcoin

In [4]:
reddit_comments = pd.concat([bitcoin_comment_times, ethereum_comment_times, cardano_comment_times, dogecoin_comment_times, nasdaq_comment_times, dow_comment_times], ignore_index= True, keys = ('Bitcoin', 'Ethereum', 'Cardano', 'Dogecoin', 'NASDAQ', 'Dow Jones'))

In [5]:
reddit_comments.dtypes

Timestamp     int64
SubReddit    object
Exchange     object
dtype: object

In [8]:
reddit_comments['DateTime']= [datetime.fromtimestamp(i) for i in reddit_comments['Timestamp']]
reddit_comments

,Timestamp,SubReddit,Exchange,Date,DateTime
0,1527825606,ethereum,Bitcoin,1970-01-01,2018-06-01 00:00:06
1,1527825642,btc,Bitcoin,1970-01-01,2018-06-01 00:00:42
2,1527825648,btc,Bitcoin,1970-01-01,2018-06-01 00:00:48
3,1527825725,btc,Bitcoin,1970-01-01,2018-06-01 00:02:05
4,1527825939,Sexsells,Bitcoin,1970-01-01,2018-06-01 00:05:39
...,...,...,...,...,...
1955499,1593573680,Syracuse_comments,Dow Jones,1970-01-01,2020-06-30 23:21:20
1955500,1593574736,40kOrkScience,Dow Jones,1970-01-01,2020-06-30 23:38:56
1955501,1593575142,confessions,Dow Jones,1970-01-01,2020-06-30 23:45:42
1955502,1593575271,wallstreetbets,Dow Jones,1970-01-01,2020-06-30 23:47:51
1955503,1593575531,Economics,Dow Jones,1970-01-01,2020-06-30 23:52:11

In [9]:
reddit_comments['Date'] = reddit_comments['DateTime'].dt.date
reddit_comments.head()

    Timestamp SubReddit Exchange        Date            DateTime
0  1527825606  ethereum  Bitcoin  2018-06-01 2018-06-01 00:00:06
1  1527825642       btc  Bitcoin  2018-06-01 2018-06-01 00:00:42
2  1527825648       btc  Bitcoin  2018-06-01 2018-06-01 00:00:48
3  1527825725       btc  Bitcoin  2018-06-01 2018-06-01 00:02:05
4  1527825939  Sexsells  Bitcoin  2018-06-01 2018-06-01 00:05:39

In [11]:
reddit_comments_clean = reddit_comments[['Date', 'SubReddit', 'Exchange']]
reddit_comments_clean

               Date          SubReddit   Exchange
0        2018-06-01           ethereum    Bitcoin
1        2018-06-01                btc    Bitcoin
2        2018-06-01                btc    Bitcoin
3        2018-06-01                btc    Bitcoin
4        2018-06-01           Sexsells    Bitcoin
...             ...                ...        ...
1955499  2020-06-30  Syracuse_comments  Dow Jones
1955500  2020-06-30      40kOrkScience  Dow Jones
1955501  2020-06-30        confessions  Dow Jones
1955502  2020-06-30     wallstreetbets  Dow Jones
1955503  2020-06-30          Economics  Dow Jones

[1955504 rows x 3 columns]

In [18]:
reddit_grouped = reddit_comments_clean.groupby(['Exchange', 'Date'])
reddit_grouped.count()

                     SubReddit
Exchange Date
Bitcoin  2018-06-01       2543
         2018-06-02       2286
         2018-06-03       2191
         2018-06-04       2548
         2018-06-05       2487
...                        ...
NASDAQ   2020-06-26        161
         2020-06-27         88
         2020-06-28        196
         2020-06-29        191
         2020-06-30        189

[4566 rows x 1 columns]